/* Base Application Styles */

body {
  color: #fff;
  background: #222;
}

.index {
  height: 100vh;
}

[class*="bg-"] {
  height: 100%;
}

.bg-full-image {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile.split {
    /background: url(../images/bg.jpg);
    background-size: cover;
    padding-left: 50px;
}

.profile .left {
    color: #e7e5e8;
}

.profile .right {
    color: #666;
    text-align: center;
}

.profile .wrapper {
    margin-top: 25%;
    text-align: center;
    font-weight: 100;
}

.split {
    height: 100%;
}

.split h1 {
    text-align: center;
}

.split .left {
    box-sizing: border-box;
    width: 40%;
    float: left;
    height: 100%;
}

.split .right.light {
    background: hsla(0,0%,100%,.9);
}

.split .right {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    float: right;
}

.bg-gray {
  background: #ececec; 
}

.title {
  position: absolute;
  top: 50%;
  text-align: left;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  font-size: 4em;
}

.title h2 {
  font-size: 2em;
}

.dock {
  transform: rotate(90deg);
  transform-origin: left bottom;
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  position: fixed;
}

.dock img {
  width: 50px;
  height: 50px;
  margin: 0;
}

.dock li {
  transition: all 0.3s ease-out;
  width: 50px;
  height: 50px;
  margin: 0;
  display: inline-block;
  padding: 0px;
  position: relative;
  top: 0;
}

.dock li:hover {
  transform: scale(1.5);
  margin: 10px 10px 0 10px;
  margin-top: -15px;
  top: -10px;
  position: relative;
  color: white;
}

.dock li [class*="fa-"] {
  transform: rotate(-90deg);
}
